.App {
  text-align: center;
}

.App-header {
 /* background-color: #222;*/
  background-color: #212b31;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.logo {
  height: 70px;
}
.end {
  float:right;
}

img {
  padding-bottom: 5px;
}
