body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #C6BAAC;
  color: #FBE0AD;
}
a {
  text-decoration: none;
  color: inherit;
}
svg {
 padding: 25px;
}

.label {
 display: none;
}

.makeViz {
 display: inline-block;
}