body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eee9e9;
  font-weight: lighter;
}
a {
  text-decoration: none;
  color: inherit;
}
svg {
 padding: 25px;
}
select {
   -webkit-appearance: none; 
   -moz-appearance: none;
  appearance: none; 
  margin: 5px;
  padding: 5px;
  border: none;
  font-family: inherit;
  border-bottom: black;
}

h2{
  font-weight: lighter;
}
button{
  border: none;
  font-weight: inherit;
  margin: 5px;
  padding: 5px;
  border-radius: 9999px;
  background-color: #f1f1f1
}
.label {
 display: none;
}

.makeViz {
 display: inline-block;
}

/*.dummyChart {
  border-style: solid;
  border-width: 5px;
}*/